<!-- index.ejs file -->
<!DOCTYPE html>
<html lang="en">
<head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=0.5">
  <meta charset="UTF-8">
  <title>Discord User Info</title>
  <!-- Include sweetalert2 cdn -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body style="background-color: #111827">
  <!-- Include a button to trigger the sweetalert2 input -->
  <!-- Include a script to handle the input logic -->
  <script>
      // Show a sweetalert2 input dialog with options
      Swal.fire({
        title: 'Discord Id Lookup',
        text: 'Paste a discord id to get the user info.',
        input: 'text',
        inputAttributes: {
          autocapitalize: 'off'
        },
        allowEscapeKey: false,
        allowEnterKey: false,
        allowOutsideClick: false,
        confirmButtonText: 'Lookup',
        showLoaderOnConfirm: true,
        preConfirm: (userId) => {
          // Validate the user id format using a regular expression
          if (!/^\d+$/.test(userId)) {
            swal.showValidationMessage(
              `This id doesn't seem to be a legit discord id!`
            )
          }
          // Return a promise that resolves to the user info url with the user id as a query parameter
          return fetch(`/user/${userId}`)
            .then(response => {
              if (!response.ok) {
                throw new Error(response.statusText)
              }
              return response.url;
            })
            .catch(error => {
              swal.showValidationMessage(
                `User not found with this discord id.`
              )
            })
        },
        allowOutsideClick: () => !swal.isLoading()
      }).then((result) => {
        // If the result is not null, redirect to the user info url
        if (result.value) {
          window.location.href = result.value;
        }
      })

  </script>
</body>
</html>
